aiohttp 
aiosignal 
altair 
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
async-timeout 
attrs 
Babel
backcall 
backoff 
bcrypt 
beautifulsoup4 
bleach 
blinker 
Bottleneck
Brotli
cachetools 
certifi 
cffi 
charset-normalizer 
chroma-hnswlib 
chromadb 
click 
colorama 
coloredlogs 
comm 
contourpy 
cryptography 
cycler 
dataclasses-json 
debugpy 
decorator 
defusedxml 
distro==1.9.0
et-xmlfile==1.1.0
executing 
faiss==1.7.4
fastapi 
fastjsonschema 
flatbuffers 
fonttools==4.25.0
frozenlist 
gitdb 
GitPython 
gmpy2 
google-api-core 
google-auth 
googleapis-common-protos 
greenlet 
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
humanfriendly 
idna 
importlib-metadata 
importlib-resources 
iniconfig
ipykernel 
ipython
ipython-genutils
ipywidgets 
jedi 
Jinja2
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core 
jupyter_server
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langchain-openai==0.0.5
langsmith==0.0.83
markdown-it-py 
MarkupSafe 
marshmallow
marshmallow-enum 
matplotlib 
matplotlib-inline 
mdurl 
mistune 
monotonic==1.5
mpmath 
multidict 
munkres==1.1.4
mypy-extensions 
nbclient
nbconvert 
nbformat
nest-asyncio
notebook 
notebook_shim 
numexpr 
numpy 
onnxruntime 
openai==1.10.0
openapi-schema-pydantic
openpyxl==3.0.10
overrides 
packaging
pandas 
pandas-stubs 
pandocfilters 
parso 
pexpect 
pickleshare
Pillow
platformdirs
plotly 
pluggy 
posthog
prometheus-client 
prompt-toolkit 
protobuf==4.21.12
psutil 
ptyprocess 
pulsar-client 
pure-eval 
py4j 
pyarrow==11.0.0
pyasn1 
pyasn1-modules==0.2.8
pycparser
pydantic 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
pyparsing 
PyPika 
PySocks
pyspark
pytest 
pytest-subtests 
python-dateutil 
python-dotenv==1.0.0
python-json-logger 
pytz 
PyYAML 
pyzmq 
referencing 
regex 
requests 
rfc3339-validator 
rfc3986-validator
rich 
rpds-py
rsa 
Send2Trash 
shellingham 
six
smmap 
sniffio 
soupsieve 
SQLAlchemy 
stack-data
starlette 
streamlit==1.30.0
sympy
tenacity 
terminado 
threadpoolctl
tiktoken 
tinycss2 
tokenizers 
toml 
toolz 
tornado 
tqdm 
traitlets 
typer 
types-pytz 
typing-inspect 
typing_extensions 
tzdata 
tzlocal 
urllib3 
uvicorn 
uvloop==0.19.0
validators 
watchdog==3.0.0
watchfiles==0.21.0
wcwidth 
webencodings==0.5.1
websocket-client 
websockets==12.0
widgetsnbextension 
yarl
zipp
